:root {
  --HSL-server-alignment: center;
}

#app-mount nav.wrapper-1_HaEi.guilds-2JjMmN {
  height: 100vw !important;
  padding-bottom: var(--mac-os-left-margin);
  background-clip: content-box;
  box-shadow: inset 0 0 0 var(--mac-os-left-margin) var(--background-tertiary);
}
